body{
    background-color: lightskyblue;
}


#form{
    background-color: rgb(255, 255, 255);
    width: 400px;;
    border-radius: 4px;
    margin:120px auto;
    padding:50px;
    box-shadow: 10px 10px 5px rgb(82, 11, 77);
}


#btn{
    color:rgb(255, 255, 255);
    background-color: rgb(108, 22, 189);
    padding:10px;
    font-size: large;
    border-radius: 10px;
}


#email{
    margin-left: 25px;
}


#password{
    margin-left: 3px;
}


#confirmpassword{
    margin-right: 53px;
}
